.landing-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-header {
  padding: 6px !important;
}

.card-body {
  padding: 6px !important;
  overflow-y: auto;
}

.open-card :before {
  font-family: FontAwesome;
  content: "\f103";
  margin-right: 4px;
}

.close-card :before{
  font-family: FontAwesome;
  content: "\f101";
  margin-right: 4px;
}